/**
 * @name DeTheme
 * @author deprecating
 * @description Vencord Dark Mode Theme made by Dep :3
 * @version 0.0.1
 * @invite https://discord.gg/SfrTTfnX5c
 * @authorId 688293803613880334
 * @source https://github.com/Depreca1ed/DeTheme
 */


.theme-dark {
    --activity-card-background: #00000050;
    --background-accent: #000000;
    --background-floating: #151515;
    --background-mentioned: #FFFFFF10;
    --background-mentioned-hover: #FFFFFF05;
    --background-message-automod: #FF000010;
    --background-message-automod-hover: #FF000020;
    --background-message-highlight: #FFFFFF10;
    --background-message-highlight-hover: #FFFFFF05;
    --background-message-hover: #FFFFFF05;
    --background-nested-floating: #000000;
    --background-primary: #000000;
    --background-secondary: #080808;
    --background-secondary-alt: #101010;
    --background-tertiary: #121212;
    --bg-backdrop: #FFFFFF;
    --channel-icon: #AAAAAA;
    --channel-text-area-placeholder: #AAAAAA;
    --channels-default: #888888;
    --channeltextarea-background: #151515;
    --user-profile-header-overflow-background: #FFFFFF
}

[class^=typeWindows_]>[class*=wordmark_] {
    position: static;
    margin: auto;
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    order: 1;

    &:before {
        white-space: nowrap;
        order: 1;
        content: " I LOVE ELYSIA";
        color: #FF00FF;
        font-family: '0xproto nerd font mono';
        font-size: 15px;
        font-weight: 800;
        letter-spacing: 40px;
    }

    &>svg>g {
        &>path:not(:first-child) {
            display: none;
        }

        &>path:first-child {
            opacity: 0;
        }
    }
}


.embedFull_b0068a {
    border-left: 4px solid var(--background-tertiary);
    border-top: 3px solid var(--background-tertiary);
    border-radius: 16px;
    background: var(--background-secondary)
}

/* home icon */
.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb {
    background: url('https://cdn.discordapp.com/emojis/1264273579210707005.webp') no-repeat center !important;
    background-size: cover !important;
}

.wrapper_f90abb[data-list-item-id="guildsnav___home"] .childWrapper_f90abb svg {
    display: none;
}